In [1]:
import numpy as np
import pandas as pd

In [2]:
index = [('California' , 2010), ('California', 2020), 
         ('New York', 2010), ('New York', 2020), 
         ('Texas', 2010), ('Texas', 2020)]

population =  [37253956, 39538223,
               9378102, 20201249,
               25145561, 29145505]

In [3]:
pop = pd.DataFrame(population, index=index)

In [4]:
pop

                           0
(California, 2010)  37253956
(California, 2020)  39538223
(New York, 2010)     9378102
(New York, 2020)    20201249
(Texas, 2010)       25145561
(Texas, 2020)       29145505

In [5]:
pop[('California', 2020):('Texas', 2010)]

                           0
(California, 2020)  39538223
(New York, 2010)     9378102
(New York, 2020)    20201249
(Texas, 2010)       25145561

In [6]:
index = pd.MultiIndex.from_tuples(index)

In [15]:
pop = pop.reindex(index)
pop

                        0
California 2010  37253956
           2020  39538223
New York   2010   9378102
           2020  20201249
Texas      2010  25145561
           2020  29145505

In [12]:
pop_df = pop.unstack()
pop_df

                   0
                2010      2020
California  37253956  39538223
New York     9378102  20201249
Texas       25145561  29145505

In [16]:
pop_df = pd.DataFrame({'total': pop, 
                       'under18':  [9284094, 8898092,
                                            4318033, 4181528,
                                            6879014, 7432474]})
pop_df

ValueError: Data must be 1-dimensional, got ndarray of shape (6, 1) instead

In [17]:
index = [('California' , 2010), ('California', 2020), 
         ('New York', 2010), ('New York', 2020), 
         ('Texas', 2010), ('Texas', 2020)]

population =  [37253956, 39538223,
               9378102, 20201249,
               25145561, 29145505]

In [18]:
pop = pd.DataFrame(population, index=index)

In [19]:
index = pd.MultiIndex.from_tuples(index)

In [20]:
pop = pop.reindex(index)
pop

                        0
California 2010  37253956
           2020  39538223
New York   2010   9378102
           2020  20201249
Texas      2010  25145561
           2020  29145505

In [21]:
pop_df = pd.DataFrame({'total': pop, 
                       'under18':  [9284094, 8898092,
                                            4318033, 4181528,
                                            6879014, 7432474]})
pop_df

ValueError: Data must be 1-dimensional, got ndarray of shape (6, 1) instead

In [22]:
import pandas as pd

# Define the index and population data
index = [('California', 2010), ('California', 2020), 
         ('New York', 2010), ('New York', 2020), 
         ('Texas', 2010), ('Texas', 2020)]

population = [37253956, 39538223,
              9378102, 20201249,
              25145561, 29145505]

# Create the MultiIndex
index = pd.MultiIndex.from_tuples(index, names=['State', 'Year'])

# Create the pop DataFrame
pop = pd.DataFrame(population, index=index, columns=['total'])

# Create pop_df with the total column as a Series
pop_df = pd.DataFrame({
    'total': pop['total'],  # Extract the 'total' column as a Series
    'under18': [9284094, 8898092, 4318033, 4181528, 6879014, 7432474]
}, index=index)

# Display the result
print(pop_df)

                    total  under18
State      Year
California 2010  37253956  9284094
           2020  39538223  8898092
New York   2010   9378102  4318033
           2020  20201249  4181528
Texas      2010  25145561  6879014
           2020  29145505  7432474

In [23]:
f_u18 = pop_df['under18'] / pop_df['total']

In [25]:
print(f_u18.unstack())

Year            2010      2020
State
California  0.249211  0.225050
New York    0.460438  0.206994
Texas       0.273568  0.255013

**Methods of MultiIndex Creation**

In [27]:
df = pd.DataFrame(np.random.rand(4, 2), 
                  index = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns = ['data1', 'data2'])
df

        data1     data2
a 1  0.304576  0.879695
  2  0.226018  0.640711
b 1  0.301075  0.683900
  2  0.510542  0.181435

In [32]:
data = {
    ('California', 2010): 37253956,
    ('California', 2020): 39538223,
    ('New York', 2010): 19378102, 
    ('New York', 2020): 20201249,
    ('Texas', 2010): 25145561, 
    ('Texas', 2020): 29145505}

data = pd.Series(data)

In [33]:
data.index.names = ['states', 'year']

In [30]:
data

                    total
states     year
California 2010  37253956
           2020  39538223
New York   2010   9378102
           2020  20201249
Texas      2010  25145561
           2020  29145505

**MultiIndex for Columns**

In [43]:
index = pd.MultiIndex.from_product([[2013, 2014], [1,2,3]], 
                                   names = ['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'],
                                      ['HR', 'Temp']],
                                     names = ['subject', 'type'])

# mock some data 
data = np.round(np.random.randn(6,6),1)
data[:, ::2] *= 10
data += 37

# Create the DataFrame 
health_data = pd.DataFrame(data, index= index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      56.0  37.8  51.0  38.8  44.0  38.1
     2      49.0  36.8  23.0  40.0  13.0  36.1
     3      36.0  36.5  22.0  35.8  38.0  35.2
2014 1      43.0  37.6  35.0  38.5  36.0  36.5
     2      33.0  36.8  41.0  37.7  36.0  36.5
     3      36.0  36.0  10.0  36.3  35.0  35.2

In [53]:
index = [('Bangladesh' , 2010), ('Bangladesh', 2020), 
         ('China', 2010), ('China', 2020), 
         ('India', 2010), ('India', 2020)]

population = [1000, 2000, 4000, 6000, 8000, 10000]

In [54]:
pop = pd.DataFrame(population, index=index)

In [55]:
pop

                        0
(Bangladesh, 2010)   1000
(Bangladesh, 2020)   2000
(China, 2010)        4000
(China, 2020)        6000
(India, 2010)        8000
(India, 2020)       10000

In [56]:
index = pd.MultiIndex.from_tuples(index)

In [57]:
pop = pop.reindex(index)
pop

                     0
Bangladesh 2010   1000
           2020   2000
China      2010   4000
           2020   6000
India      2010   8000
           2020  10000

In [59]:
pop

                     0
Bangladesh 2010   1000
           2020   2000
China      2010   4000
           2020   6000
India      2010   8000
           2020  10000

In [66]:
pop.index.names = ['Country', 'Year']

In [67]:
pop

                 Population
Country    Year
Bangladesh 2010        1000
           2020        2000
China      2010        4000
           2020        6000
India      2010        8000
           2020       10000

In [68]:
pop.columns = ['Population']

In [69]:
pop

                 Population
Country    Year
Bangladesh 2010        1000
           2020        2000
China      2010        4000
           2020        6000
India      2010        8000
           2020       10000

In [70]:
pop_df = pd.DataFrame({'Population': population}, 
                      index=index)

In [71]:
pop_df

                 Population
Country    Year
Bangladesh 2010        1000
           2020        2000
China      2010        4000
           2020        6000
India      2010        8000
           2020       10000

In [79]:
country = [('USA', 2010),('USA', 2020),
           ('China', 2010), ('China', 2020),
           ('Russia', 2010), ('Russia', 2020)]

gdp = [10000, 20000, 5000, 10000, 2500, 5000]

In [80]:
profile = pd.DataFrame(gdp, index=country)

In [81]:
profile

                    0
(USA, 2010)     10000
(USA, 2020)     20000
(China, 2010)    5000
(China, 2020)   10000
(Russia, 2010)   2500
(Russia, 2020)   5000

In [82]:
country = pd.MultiIndex.from_tuples(country)

In [83]:
profile = pd.DataFrame(gdp, index=country)

In [84]:
profile

                 0
USA    2010  10000
       2020  20000
China  2010   5000
       2020  10000
Russia 2010   2500
       2020   5000

In [85]:
index = pd.MultiIndex.from_product([[2013, 2014], [1,2]],
                                   names=['year', 'visit'])

columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'],
                                     ['HR', 'Temp']],
                                     names = ['subject', 'type'])


#mock some data 
data = np.round(np.random.rand(4,6),1)
data[:, ::2] *=10
data +=37

#Create the DataFrame 
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      42.0  37.6  43.0  37.8  37.0  37.1
     2      45.0  37.4  46.0  37.6  39.0  37.8
2014 1      44.0  37.0  38.0  37.4  38.0  37.2
     2      44.0  38.0  43.0  37.3  40.0  37.4

In [95]:
health_data['Guido', 2013]

KeyError: ('Guido', 2013)

In [91]:
pop['Bangladesh', 2010]

KeyError: ('Bangladesh', 2010)

In [94]:
pop['Bangladesh']

KeyError: 'Bangladesh'