In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('data_analysis.csv')

In [13]:
df

,Category,Supplier,Brand,Year,Month,Profit (Month)
0,Treadmill,Peak Performance Gear,Apex Athletics,2018,1,13318
1,Treadmill,Peak Performance Gear,Apex Athletics,2018,2,12921
2,Treadmill,Peak Performance Gear,Apex Athletics,2018,3,13752
3,Treadmill,Peak Performance Gear,Apex Athletics,2018,4,13355
4,Treadmill,Peak Performance Gear,Apex Athletics,2018,5,12130
...,...,...,...,...,...,...
1227,Airbike,Iron Stength Equipment Co.,Steel Power,2024,1,14459
1228,Airbike,Iron Stength Equipment Co.,Steel Power,2024,2,11452
1229,Airbike,Iron Stength Equipment Co.,Steel Power,2024,3,11797
1230,Airbike,Iron Stength Equipment Co.,Steel Power,2024,4,14230
1231,Airbike,Iron Stength Equipment Co.,Steel Power,2024,5,14288

In [14]:
df['YTD'] = df.groupby('Year')['Profit (Month)'].cumsum()

In [15]:
df.head()

,Category,Supplier,Brand,Year,Month,Profit (Month),YTD
0,Treadmill,Peak Performance Gear,Apex Athletics,2018,1,13318,13318
1,Treadmill,Peak Performance Gear,Apex Athletics,2018,2,12921,26239
2,Treadmill,Peak Performance Gear,Apex Athletics,2018,3,13752,39991
3,Treadmill,Peak Performance Gear,Apex Athletics,2018,4,13355,53346
4,Treadmill,Peak Performance Gear,Apex Athletics,2018,5,12130,65476

In [17]:
df.head(20)

,Category,Supplier,Brand,Year,Month,Profit (Month),YTD
0,Treadmill,Peak Performance Gear,Apex Athletics,2018,1,13318,13318
1,Treadmill,Peak Performance Gear,Apex Athletics,2018,2,12921,26239
2,Treadmill,Peak Performance Gear,Apex Athletics,2018,3,13752,39991
3,Treadmill,Peak Performance Gear,Apex Athletics,2018,4,13355,53346
4,Treadmill,Peak Performance Gear,Apex Athletics,2018,5,12130,65476
5,Treadmill,Peak Performance Gear,Apex Athletics,2018,6,14875,80351
6,Treadmill,Peak Performance Gear,Apex Athletics,2018,7,14968,95319
7,Treadmill,Peak Performance Gear,Apex Athletics,2018,8,10295,105614
8,Treadmill,Peak Performance Gear,Apex Athletics,2018,9,13142,118756
9,Treadmill,Peak Performance Gear,Apex Athletics,2018,10,10970,129726
10,Treadmill,Peak Performance Gear,Apex Athletics,2018,11,12016,141742
11,Treadmill,Peak Performance Gear,Apex Athletics,2018,12,10843,152585
12,Treadmill,Peak Performance Gear,Apex Athletics,2019,1,13156,13156
13,Treadmill,Peak Performance Gear,Apex Athletics,2019,2,13692,26848
14,Treadmill,Peak Performance Gear,Apex Athletics,2019,3,13328,40176
15,Treadmill,Peak Performance Gear,Apex Athletics,2019,4,10024,50200
16,Treadmill,Peak Performance Gear,Apex Athletics,2019,5,13917,64117
17,Treadmill,Peak Performance Gear,Apex Athletics,2019,6,12179,76296
18,Treadmill,Peak Performance Gear,Apex Athletics,2019,7,11499,87795
19,Treadmill,Peak Performance Gear,Apex Athletics,2019,8,10133,97928